In [16]:
import pandas as pd 
import numpy as np
import csv

In [36]:
x = np.random.randint(500, size=(120))
y = np.random.randint(500, size=(120))

In [37]:
filename = 'file4.csv'
f = open(filename, 'w')

heading = 'x,y\n'
f.write(heading)

for i in range (0,len(x)):
    text = str(x[i]) + ',' + str(y[i]) + '\n'
    f.write(text)
f.close()

In [38]:
df = pd.read_csv(filename)
df

       x    y
0    169  388
1    330  407
2    161  255
3    430  444
4     99  442
..   ...  ...
115  173   85
116    4   15
117  478  163
118  126  405
119  332  408

[120 rows x 2 columns]